<html xmlns="http://www.thymleaf.org">
<head>
<title>Login</title>
</head>
<body>
	<div >
		<h2>Login</h2>
		<hr/>
		<h2 style="color : red;">[[${error}]]</h2>
		<hr/>
		<form th:action="@{/loginAdminCredentials}" th:object="${user}" method="GET">
			<input type="text" th:field="*{email}" placeholder="Enter Email"/>
			<input type="password" th:field="*{password}" placeholder="Enter Password"/>
			<button type="submit">Login</button>
		</form>
		<hr/>
		<a th:href=@{/index}>Back To Home</a>
	</div>
</body>
</html>